// Colors
$primary: #f60038;
$accent: #ff6c00;
$c-bg: #111111;
$c-text: #505050;
$c-headline: #ffffff;
$black: #111111;
$white: #ffffff;

// Fonts
$font: 'Montserrat', Arial, sans-serif;
$font-alt: 'Vast Shadow', Arial, sans-serif;


//Breakpoints
$extraLarge: 1280px;
$large: 1024px;
$medium: 768px;
$small: 320px;

//Retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
