.audio-block {
    display: flex;
    background-color: rgba($color: $accent, $alpha: 0.3);

    & + & {
        margin-top: 20px;
    }
}

.audio-block__body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px 20px;
}

.audio-block__title {
    display: block;
    font-size: 20px;
    color: $white;
    margin-bottom: 8px;
}

.audio-block__thumb {
    width: 148px;
    height: 148px;
    overflow: hidden;

    img {
        width: 148px;
        height: 148px;
        object-fit: cover;
    }
}
