.page-header {
  background-color: transparent;
  color: $white;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
}

.page-header__container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid lighten($color: $primary, $amount: 2);
}

.page-header__logo {
  // font-family: $font-alt;
  font-size: 1.8rem;
  letter-spacing: 1px;
  // text-transform: uppercase;
  color: inherit;
  font-weight: 700;
}
